* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Glory", sans-serif;
}

* h2,
* p {
  color: cornsilk;
  font-size: 2rem;
}

.sticky-arrow {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 15vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "#f077";
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
}

.sticky-arrow:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

section {
  padding-top: 10vh;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  z-index: 9999;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  font-size: 3rem;
  position: relative;
  list-style: none;
  padding: 1rem;
}

header nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eeeeee;
  position: relative;
}

header nav ul li a::before, header nav ul li a::after {
  position: absolute;
  background: #dddbdb;
  content: "";
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  right: 0px;
  width: 100%;
  height: 1px;
}

header nav ul li a::before {
  top: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header nav ul li a::after {
  bottom: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header nav ul li a:hover::before, header nav ul li a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 480px) {
  * h2,
  * p {
    font-size: 1rem;
  }
  .sticky-arrow {
    right: 50%;
  }
  .sticky-arrow:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  header {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    height: 10vh;
    width: 80%;
    z-index: 9999;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    font-size: 1.5rem;
    list-style: none;
    padding: 5px;
  }
  header nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #eeeeee;
  }
  .home {
    height: 100%;
    background-image: url(../imgs/annie-spratt-h-LcVG8W1XY-unsplash.jpg);
  }
  @-webkit-keyframes myfirst {
    0% {
    }
    100% {
    }
  }
  @keyframes myfirst {
    0% {
    }
    100% {
    }
  }
  .home .home-part-one p {
    font-size: 1.5rem;
    padding-right: 0;
    padding-top: 10px;
  }
  .home .home-part-two p {
    font-size: 1.5rem;
    padding-right: 0;
    padding-top: 10px;
  }
  .work {
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .work .title-effect {
    font-weight: 600;
  }
  .work .work-part-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .work-part-1 .sample {
    overflow: scroll;
  }
  .work .work-part-1 .sample .btn {
    height: 8vh;
    width: 12vw;
    padding-top: 0.5vh;
  }
  .goals {
    height: 100%;
    background-image: url(../imgs/engin-akyurt-BawjznQ3Q8U-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 50%;
  }
  .goals .goals_container .card-container .card-face img {
    width: 50%;
  }
  .goals .goals_container .card-container .card-back {
    width: 50%;
    overflow: scroll;
    border-radius: 2px;
    padding: 0;
    font-size: 0.5rem;
  }
  .goals .goals_container .card-container .card-back .btn {
    width: 15vw;
  }
  .goals .goals_container .card-container .card-back p {
    font-size: 1rem;
  }
  .about {
    height: 100%;
  }
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .about-content .slides > div {
    overflow: scroll;
    font-size: 1em;
  }
  footer {
    height: 100%;
  }
  footer .line-right {
    border-left: 0 solid black;
  }
  footer .line-right {
    border-right: 0 solid black;
  }
  footer p {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }
  footer ul li {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .sticky-arrow {
    right: 50%;
  }
  .sticky-arrow:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  header {
    width: 100%;
  }
  header nav ul li {
    font-size: 1rem;
  }
  header nav ul li a {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .home {
    background-image: url(../imgs/annie-spratt-zA7I5BtFbvw-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  @-webkit-keyframes myfirst {
    0% {
    }
    100% {
    }
  }
  @keyframes myfirst {
    0% {
    }
    100% {
    }
  }
  .home .home-part-one p {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  .home .home-part-two p {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10vh;
  }
  .home .home-part-two img {
    width: 40px;
    height: 40px;
  }
  .work {
    width: 100%;
    height: 100%;
  }
  .work .title-effect {
    position: relative;
  }
  .work p {
    font-weight: 600;
    text-align: center;
    padding-top: 3px;
  }
  .work .work-part-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 67%;
  }
  .work .work-part-1 .sample {
    overflow: scroll;
  }
  .work .work-part-1 .sample .btn {
    width: 60px;
  }
  .goals {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 60vw;
    height: 70vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-face img {
    width: 100%;
    height: 100%;
  }
  .goals .goals_container .card-container .card-back {
    overflow: scroll;
    width: 60vw;
    height: 70vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-back .btn {
    height: 30px;
    width: 30%;
    padding-top: 1.5vh;
  }
  .about {
    height: 100%;
  }
  .about .about-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .about-content .slides > div {
    overflow: scroll;
    width: 100%;
    height: 70%;
    font-weight: 300;
  }
  footer {
    height: 100%;
  }
  footer .line-right {
    border-left: 0 solid black;
  }
  footer .line-right {
    border-right: 0 solid black;
  }
  footer p {
    padding-bottom: 5px;
  }
}

@media (max-width: 1024px) {
  .goals {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 40vw;
    height: 40vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-face img {
    width: 100%;
    height: 100%;
  }
  .goals .goals_container .card-container .card-back {
    overflow: scroll;
    width: 30vw;
    height: 30vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-back .btn {
    height: 30px;
    width: 30%;
    padding-top: 1.5vh;
  }
}

@media (max-width: 1200px) {
  .goals {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 40vw;
    height: 40vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-face img {
    width: 100%;
    height: 100%;
  }
  .goals .goals_container .card-container .card-back {
    overflow: scroll;
    width: 30vw;
    height: 30vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-back .btn {
    height: 30px;
    width: 30%;
    padding-top: 1.5vh;
  }
}

@media (max-width: 1500px) {
  .goals {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 30vw;
    height: 40vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-face img {
    width: 100%;
    height: 100%;
  }
  .goals .goals_container .card-container .card-back {
    overflow: scroll;
    height: 30vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-back .btn {
    height: 30px;
    width: 30%;
    padding-top: 1.5vh;
  }
}

@media (max-width: 1600px) {
  .goals {
    width: 100%;
    height: 100%;
    background-image: url(../imgs/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
  }
  .goals .goals_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals .goals_container .card-container .card-face {
    width: 30vw;
    height: 40vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-face img {
    width: 100%;
    height: 100%;
  }
  .goals .goals_container .card-container .card-back {
    overflow: scroll;
    height: 30vh;
    border-radius: 2px;
  }
  .goals .goals_container .card-container .card-back .btn {
    height: 30px;
    width: 30%;
    padding-top: 1.5vh;
  }
}
/*# sourceMappingURL=style.css.map */